.bg-navyblue {
  background-color: #05445e;
}
.text-navyblue {
  color: #05445e;
}
.hover:bg-navyblue {
  background-color: #05445e;
}
.bg-babyblue {
  background-color: #d4f1f4;
}
.text-babyblue {
  color: #d4f1f4;
}
.hover:bg-babyblue {
  background-color: #d4f1f4;
}
.bg-grottoblue {
  background-color: #189ab4;
}
.text-grottoblue {
  color: #189ab4;
}
.hover:bg-grottoblue {
  background-color: #189ab4;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@lordicon /lord-icon-element;
